src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns="http://spring.vilderlee.com/schema/user"
            targetNamespace="http://spring.vilderlee.com/schema/user">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation>
            This is My first XSD file.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="registryType">
        <xsd:attribute name="host" type="xsd:string"/>
    </xsd:complexType>


    <xsd:complexType name="serviceType">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="interface" type="xsd:string"/>
        <xsd:attribute name="ref" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="registry" type="registryType"/>
    <xsd:element name="service" type="serviceType"/>
</xsd:schema>